

<ion-view view-title="指挥控制">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-round animated bounceInDown" menu-toggle="right" ng-click="newCommand()">
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" style="overflow:auto;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-item class="item-divider" style="text-align: center;">
      收到的命令
    </ion-item>
    <div class="list">

      <ion-item ng-repeat="command in commandList"
                ng-cloak
                href="#/menu/command/{{$index}}"
                class="item item-thumbnail-left  ng-cloak ">
        <!--  <img ng-src="{{ command.img }}"> -->
        <img ng-src="img/{{calPortraitNumber(command.sender.id)}}.jpg">
        <h2>{{ command.sender.name}}</h2>
        <p>{{ command.content}}
        </p>
                    <span class="item-note" id="float-right">
                        {{command.updated_time}}
                      </span>

      </ion-item>

    </div>
    <div ng-show="isCommandListEmpty" >
      <p id="NoContentShow">暂无命令</p>
    </div>

    <ion-item class="item-divider"  style="text-align: center;">
      发送的命令
    </ion-item>

    <div class="list">

      <ion-item ng-repeat="command in commandList"
                ng-cloak
                href="#/menu/command/{{$index}}"
                class="item item-thumbnail-left  ng-cloak ">
        <!--  <img ng-src="{{ command.img }}"> -->
        <img ng-src="img/{{calPortraitNumber(command.sender.id)}}.jpg">
        <h2>{{ command.sender.name}}</h2>
        <p>{{ command.content}}
        </p>
                    <span class="item-note" id="float-right">
                        {{command.updated_time}}
                      </span>

      </ion-item>

    </div>


    <div ng-show="isCommandListEmpty" >
      <p id="NoContentShow">暂无命令</p>
    </div>
  </ion-content>
</ion-view>

