<ion-view view-title="指挥控制">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-round" menu-toggle="right" ng-click="newCommand()">
    </button>
  </ion-nav-buttons>

  <ion-content>
   <div class="list">

          <ion-item ng-repeat="command in commandList"
             href="#/menu/command/{{command.id}}"
             class="item item-accordion item-thumbnail-left item-button-right">
           <img ng-src="{{ command.img }}">
            <h2>{{ command.sender}}</h2>
            <p>{{ command.content}}
             </p>
             		<ion-button class="button button-clear icon ion-ios-arrow-right"></ion-button>

          </ion-item>


        </div>
  </ion-content>
</ion-view>
