<ion-view view-title="指挥控制">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-round" menu-toggle="right" ng-click="newCommand()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">

      <ion-item ng-repeat="command in commandList"
                ng-cloak
                href="#/menu/command/{{$index}}"
                class="item item-accordion item-thumbnail-left  ng-cloak ">
        <img ng-src="{{ command.img }}">
        <h2>{{ command.sender.name}}</h2>
        <p>{{ command.content}}
        </p>
              <span class="item-note" id="float-right">
                  {{command.updated_time.split('T')[0]}}
                </span>

      </ion-item>


    </div>
  </ion-content>
</ion-view>
