<ion-view view-title="情报动态">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/txp.png">
        <h2>{{detailInfo.publisher.name}}</h2>
        <p>{{properTime(detailInfo.updated_time)}}</p>
      </div>
      <div class="item item-body">
        <div ng-repeat="picSource in pictureSource">
          <img src="{{picSource}}" height="180" width="180"/>
        </div>
        <p>{{detailInfo.text}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
