<ion-view view-title="情报动态">
  <ion-content ng-show="existed">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/{{calPortraitNumber(detailInfo.publisher.id)}}.jpg">
        <h2>{{detailInfo.publisher.name}}</h2>
        <p>{{properTime(detailInfo.updated_time)}}</p>
        <div align="right" ng-show="detailInfo.urgent">
          <span class="badge badge-assertive">紧急</span>
        </div>
      </div>
      <div class="item item-body">
        <div ng-repeat="picSource in pictureSource">
          <img src="{{picSource}}" height="180" width="210"/>
        </div>
        <p style="text-indent:2em" ng-repeat="content in a.textArray track by $index">
          {{content}}
        </p>
        <div align="right">
          <i class="ResButton ion-android-textsms"  ng-click="responseInformation()"></i>
          <i ng-show="samePublisher" class="ResButton ion-ios-trash-outline" ng-click="deleteInformation()"></i>
        </div>
      </div>
    </div>
    <div class="list card" ng-show="detailInfo.replications.length">
      <div class="item" ng-repeat="reply in detailInfo.replications">
        {{reply.replier.name}} &nbsp; 评论: &nbsp; {{reply.content}}
      </div>
    </div>
  </ion-content>
</ion-view>
