<ion-view view-title="情报动态">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/txp.png">
        <h2>{{detailInfo.publisher.name}}</h2>
        <p>{{detailInfo.updated_time}}</p>
      </div>
      <div class="item item-body">
        <!--<div ng-repeat="picSource in pictureSource">
          <img src="http://localhost:3000/data/images/577e3f33df70ddf94afc5654.png"/>
        </div>-->
        <img src="img/txp.png"/>
        <p>{{detailInfo.text}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
