<ion-view view-title="情报动态">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-round" menu-toggle="right" ng-click="newInformation()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-repeat="info in informations">
      <div class="list card">

        <div class="item item-avatar">
          <img src="img/txp.png">
          <h2>{{info.publisher}}</h2>
          <p>{{properTime(info.time)}}</p>
        </div>

        <div class="item item-body">
          <p>{{properContent(info.text)}}</p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
