<ion-view view-title="写情报">
  <ion-nav-buttons side="right">
    <button class="button button-clear" menu-toggle="right" ng-click="popover.show($event)">
      发布
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item item-input">
        <textarea style="overflow:hidden; resize:none;" placeholder="填写情报..." rows="12"></textarea>
      </ion-item>
      <ion-item ng-click="showPictureChoice()" class="item-icon-right">
        插入图片
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="card" ng-show="selectImage">
        <div class="row">
          <div class="col col-25"><img src="{{images[0]}}" width="50" height="50"></div>
          <div class="col col-25"><img src="img/ben.png" width="50" height="50"></div>
          <div class="col col-25"><img src="img/ionic.png" width="50" height="50"></div>
        </div>
      </div>

      <ion-checkbox ng-model="information.urgent">
        紧急发布
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
