<ion-view view-title="修改密码">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">旧的密码</span>
        <input type="password" ng-model="password.oldPass">
      </label>
      <label class="item item-input">
        <span class="input-label">新的密码</span>
        <input type="password" ng-model="password.newPass">
      </label>
      <label class="item item-input">
        <span class="input-label">确认密码</span>
        <input type="password" ng-model="password.confirmPass">
      </label>
      <button class="button button-block button-positive" ng-click="changePassword()">
        确认修改
      </button>
    </div>
  </ion-content>
</ion-view>
